@{
  Layout = "_Layout";
}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link disabled"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/vendors">Vendors</a>
  </li>
</ul>
<div class="container">
<h3 id="index">Good Day, Pierre!</h3>
<p>I hope forward you look forward to seeing this splash page greeting every time you sign in!</p>
<p>Here's a picture of your dog:</p>
<img id="dog" src="/novadog.jpg" alt="Nova the dog.">

</div>