#myUL {
	list-style: none;
	padding-left: 10px;
	padding-bottom: 1px;
	border: solid black;
	width: 80%;
	height: 250px;
	margin: auto;
	overflow-y: scroll;
}
#myUL li a {
	text-decoration: none;
	background-color: #a0e2fe;
	font-size: 20px;
	color: black;
}
h1 {
	font-size: 40px;
	margin-left: 10%;
}
#myUL li {
	text-decoration: none;
	font-size: 20px;
	color: black;
}
#vendor-btn {
	margin-top: 5px;
	margin-left: 11%;
}
#dog {
	display: block;
	margin: auto;
	width: 300px;
}
#index {
	margin-top: 5px;
	margin-left: 8%;
}
#form-container {
	display: block;
	padding-top: 20px;
	padding-left: 50px;
}
#submit {
	margin-top: 10px;
}
#order-details {
	margin-left: 10%;
	font-size: 20;
}