@{
  Layout = "_Layout";
}

<h1>To Do List Item Details: </h1>

<h2>@Model["order"].Description</h2>
<h3>Category: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/items/new'>Add another order</a>
<a href='/vendors'>View all Vendors</a>