@{
  Layout = "_Layout";
}

<h1>Orders: </h1>

<h2>@Model["order"].Description</h2>
<h3>Category: @Model["vendor"].Name</h3>

<a class="btn btn-primary" href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>